<md-button class="md-fab md-button md-primary md-accent md-fab-bottom-right" ng-click="channelsCtrl.add()"
           tv-move-to-parent="#place-for-list-fab">
    <md-icon>filter</md-icon>
    <md-tooltip md-direction="left">Фильтр</md-tooltip>
</md-button>

<md-list>
    <md-list-item class="md-2-line md-clickable"
                  md-ink-ripple
                  ng-repeat="channel in channels = (channelsCtrl.model.channels | filter:appCtrl.model.isSearch ? appCtrl.model.search:'')"
    >
        <div class="md-list-item-text" flex layout="column">
            <h3>{{ channel.name }} </h3>

            <p> {{ channel.group }} </p>

            <p> {{ channel.sourceName }} </p>
        </div>
        <md-divider></md-divider>
    </md-list-item>
</md-list>
