<md-list>
    <md-list-item class="md-3-line md-clickable"
                  md-ink-ripple
                  ng-repeat="channel in channels = (tvShowCtrl.model.channels | filter:appCtrl.model.isSearch ? appCtrl.model.search:'')"
            >
        <div class="md-list-item-text" flex layout="column">
            <h3>{{ channel.name }} </h3>

            <p> {{ channel.group}} </p>

            <p><span ng-repeat="item in channel.items">
                {{item.title}}
            </span>
            </p>
        </div>
        <md-divider></md-divider>
    </md-list-item>
</md-list>
