<md-button class="md-fab md-button md-mini md-primary md-accent" ng-click="linksCtrl.add()"
           tv-move-to-parent="#place-for-header-fab">
    <md-icon>add</md-icon>
    <md-tooltip md-direction="right">Новая связь</md-tooltip>
</md-button>

<md-list>
    <md-subheader class="md-no-sticky">Связи ({{links.length}})</md-subheader>
    <md-list-item class="md-2-line md-clickable"
                  md-ink-ripple
                  ng-repeat="link in links = (linksCtrl.model.links | filter:appCtrl.model.isSearch ? appCtrl.model.search:'')"
                  ng-click="linksCtrl.edit(link)"
            >
        <div class="md-list-item-text" flex layout="column">
            <h3>{{ link.channel }} </h3>

            <p> {{ link.tvShowName }} </p>

            <p> {{ link.group }} </p>

            <p> {{ link.timesift }} </p>
        </div>
        <md-divider></md-divider>
    </md-list-item>
</md-list>

<md-sidenav class="md-sidenav-right md-whiteframe-z2" md-is-open="linksCtrl.model.rightPanelVisible"
            tv-move-to-parent="#place-for-sidenav">
    <div layout="column">
        <md-toolbar class="md-hue-3" layout="row">
            <md-button class="md-button" ng-click="linksCtrl.close()">
                <md-icon class="material-icons">arrow_back</md-icon>
            </md-button>
            <h2 class="md-toolbar-tools" ng-if="linksCtrl.model.editLink.channel">Редактировать связь</h2>

            <h2 class="md-toolbar-tools" ng-if="!linksCtrl.model.editLink.channel">Новая связь</h2>
            <span flex></span>
        </md-toolbar>
        <form name="linksForm" ng-submit="$event.preventDefault()">

            <input type="hidden" ng-model="linksCtrl.model.editLink.tvShow"/>
            <md-content layout="column" layout-padding>
                <md-input-container>
                    <label for="form-links-channel">Канал</label>
                    <input type="text" id="form-links-channel" ng-model="linksCtrl.model.editLink.channel"
                           ng-required="true">
                </md-input-container>
                <md-autocomplete
                        md-floating-label="Телепрограмма"
                        md-selected-item="linksCtrl.model.editLink.tvShowName"
                        md-search-text="linksCtrl.model.autocomplete.tvShowSearch"
                        md-items="channel in linksCtrl.model.tvShowChannels | filter:{name:linksCtrl.model.autocomplete.tvShowSearch}"
                        md-item-text="channel.name"
                        md-min-length="0"
                        ng-required="true">
                    <md-item-template>
                      <span class="item-title">
                        <span> {{channel.name}} </span>
                      </span>
                    </md-item-template>
                </md-autocomplete>
                <md-input-container>
                    <label for="form-links-source">Источник</label>
                    <input type="text" id="form-links-source" ng-model="linksCtrl.model.editLink.source"
                           ng-required="false">
                </md-input-container>
                <md-input-container>
                    <label for="form-links-url">Группа</label>
                    <input type="text" id="form-links-url" ng-model="linksCtrl.model.editLink.group"
                           ng-required="false">
                </md-input-container>
                <md-input-container>
                    <label for="form-links-shift">Сдвиг</label>

                    <div layout>
                        <div flex="20" layout layout-align="center center">
                            <input flex id="form-links-shift"
                                   type="number" ng-model="linksCtrl.model.editLink.shift">
                        </div>
                        <md-slider flex
                                   ng-model="linksCtrl.shiftSlider"
                                   ng-model-options="{getterSetter: true}"
                                   step="1" min="-6" max="6"
                                   aria-label="сдвиг">
                        </md-slider>
                    </div>
                </md-input-container>
                <md-button class="md-raised md-primary"
                           ng-click="linksCtrl.save()"
                           ng-disabled="linksForm.$invalid">
                    Сохранить
                </md-button>
            </md-content>
        </form>
    </div>
</md-sidenav>
