<md-button class="md-fab md-button md-mini md-primary md-accent" ng-click="sourcesCtrl.add()"
           tv-move-to-parent="#place-for-header-fab">
    <md-icon>add</md-icon>
    <md-tooltip md-direction="right">Новый источник</md-tooltip>
</md-button>

<md-list>
    <md-list-item class="md-2-line md-clickable"
                  md-ink-ripple
                  ng-repeat="source in sources = (sourcesCtrl.model.sources | filter:appCtrl.model.isSearch ? appCtrl.model.search:'')"
                  ng-click="sourcesCtrl.edit(source)">
        <image ng-src="{{source.img}}"
               class="md-avatar"></image>
        <div class="md-list-item-text" flex layout="column">
            <h3>{{ source.name }} </h3>

            <p> {{ source.type }} </p>
        </div>
        <div class="md-list-item-text">
            <p>вчера</p>

            <p>
                <md-button class="md-icon-button md-secondary" ng-click="sourcesCtrl.execute(source)">
                    <md-icon class="material-icons">play_circle_outline</md-icon>
                    <md-tooltip md-direction="left">Выполнить</md-tooltip>
                </md-button>
            </p>
        </div>
        <md-divider></md-divider>
    </md-list-item>
</md-list>

<md-sidenav class="md-sidenav-right md-whiteframe-z2" md-is-open="sourcesCtrl.model.rightPanelVisible"
            tv-move-to-parent="#place-for-sidenav">
    <div layout="column">
        <md-toolbar class="md-hue-3" layout="row">
            <md-button class="md-button" ng-click="sourcesCtrl.close()">
                <md-icon class="material-icons">arrow_back</md-icon>
            </md-button>
            <h2 class="md-toolbar-tools" ng-if="sourcesCtrl.model.editSource.type">Редактировать источник</h2>

            <h2 class="md-toolbar-tools" ng-if="!sourcesCtrl.model.editSource.type">Новый источник</h2>
            <span flex></span>
        </md-toolbar>
        <form name="sourceForm">

            <md-content layout="column" layout-padding>
                <md-input-container>
                    <label for="form-source-name">Имя</label>
                    <input type="text" id="form-source-name" ng-model="sourcesCtrl.model.editSource.name"
                           ng-required="true">
                </md-input-container>
                <md-input-container>
                    <label>Тип</label>
                    <md-select type="text" id="form-source-type" ng-model="sourcesCtrl.model.editSource.type"
                               ng-required="true">
                        <md-option ng-repeat="type in sourcesCtrl.model.sourceTypes" value="{{type}}">
                            {{type}}
                        </md-option>
                    </md-select>
                </md-input-container>
                <md-input-container>
                    <label for="form-source-url">Url</label>
                    <input type="text" id="form-source-url" ng-model="sourcesCtrl.model.editSource.url"
                           ng-required="true">
                </md-input-container>
                <md-button class="md-raised md-primary"
                           ng-click="sourcesCtrl.save()"
                           ng-disabled="sourceForm.$invalid">
                    Сохранить
                </md-button>
            </md-content>
        </form>
    </div>
</md-sidenav>
