body, input {
    font-family: 'Forum', cursive;
}

html {
    max-width: 100vw;
    max-height: 100vh;
    overflow: hidden;
}

.md-toolbar-tools h1 {
    font-size: inherit;
    font-weight: inherit;
    margin: inherit;
}

md-sidenav.md-locked-open {
    width: 180px !important;
    min-width: 180px !important;
    max-width: 180px !important;
}

.full-height {
    width: 100vw;
    height: calc(100vh - 8px);
    overflow: hidden;
}

.full-height-1 {
    height: calc(100vh - 64px);
}

.md-toolbar-tools input[model-type="search"] {
    border: none;
    box-shadow: none;
    outline: none;
    padding-left: 12px;
}

.md-fab {
    position: fixed;
    left: 8px;
    top: 42px;
}