<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no, width=device-width">
    <title>Test</title>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link href='https://fonts.googleapis.com/css?family=Forum&subset=latin,cyrillic' rel='stylesheet' type='text/css'>
    <base href="/">
</head>

<body layout="column" ng-app="app" ng-controller="AppController as appCtrl">

<md-toolbar layout="row">
    <div class="md-toolbar-tools">
        <md-button class="md-icon-button" hide-gt-sm ng-click="appCtrl.toggleSidenav('left')">
            <md-icon md-font-set="material-icons">menu</md-icon>
        </md-button>
        <h1>Телепрограмма</h1>
    </div>
</md-toolbar>

<div layout="row">
    <md-sidenav layout="column" class="md-sidenav-left md-whiteframe-4dp"
                md-component-id="left" md-is-locked-open="$mdMedia('gt-sm')">
        <md-button ng-repeat="item in [
                ['Источники', 'sources'],
                ['Телепрограмма', 'tvShow'],
                ['Каналы', 'channels'],
                ['Группы', 'groups'],
                ['Связи', 'links'],
                ]" ng-class="{'md-accent': appCtrl.isActiveMenuItem(item[1])}"
                   href="/{{item[1]}}"
                   ng-click="appCtrl.toggleSidenav('left')"
                >
            {{item[0]}}
        </md-button>
        <md-divider></md-divider>
        <md-button>M3U</md-button>
        <md-button>XMLTV</md-button>
    </md-sidenav>

    <md-content layout="column" layout-fill>
        <div ng-view></div>
    </md-content>
</div>

</body>
</html>